body {
    background-color: lightgray;
}

.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: rgb(140, 0, 255);
}

.apple {
    background-color: rgb(255, 0, 0);
}
